$google-blue: #4285f4;
.CustomButton {
  padding: 1rem 3.3rem;
  background-color: black;
  border: 1px solid transparent;
  color: white;
  letter-spacing: 0.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
  &:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }
  &.google-btn {
    background-color: $google-blue;
    color: white;
    &:hover {
      background-color: darken($google-blue, 30%);
    }
  }
  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;
    &:hover {
      background-color: black;
      color: white;
      border: 1px solid transparent;
    }
  }
}
